<div>
  <%= link_to "Arrêter", root_path %>
</div>
<div>
  <%= image_tag(@case.gif_url) %>
  <%= link_to "J'ai compris, commencer", root_path %> <%# changer root_path %>
</div>
<div>
  <h4>Position</h4>
  <div>
    <p> I </p> <%# changer pour in fontawesome %>
    <p> Installez la victime en <b>position horizontale</b>, sur le <b>dos</b>, de préférence sur un <b>plan dur</b> (sol, table, etc).</p>
  </div>
  <%= render partial: "step", locals: {steps: @steps} %>
  <div>
    <p> I </p> <%# changer pour in fontawesome %>
    <ul>
      <li> Appuyer verticalement </li>
      <li> Garder le dos droit </li>
      <li> Garder les bras tendus </li>
    </ul>
    <p><b>Rythme</b> : Entre 100 et 120 compressions <b>par minute</b></p>
  </div>

  <%= link_to "J'ai compris, commencer", root_path %> <%# changer root_path %>
</div>
