<div class="show-container">
  <div class ="gif-container bg-blur">
      <%= image_tag(@case.gif_url) %>
  </div>
  <div class="steps-container d-flex flex-column gap-3">
    <div class="steps-head">
      <h4>Suivez ces étapes pour vous former rapidement à faire un massage cardiaque :</h4>
    </div>
    <%= render partial: "step", locals: {steps: @steps} %>
    <div class ="button-container"
      data-controller="map"
      data-map-intervention-id-value="<%= @intervention.id %>"
      data-map-case-id-value="<%= @case.id%>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      <%# <button data-action="click->map#getLocation" class="btn btn-primary fs-l flex-grow-1"> %>
      <%= link_to intervention_path(@intervention.id, case_id: @case.id, lat: params[:lat], long: params[:long], city: params[:city], address: params[:address]),
      class:"d-flex align-items-center justify-content-center gap-2 btn btn-primary fs-l flex-grow-1 auto-progress-btn",
      data: {
        controller: "auto-progress",
        auto_progress_duration_value: 6000
      } do %>
        <p>Je suis prêt, commencer</p>
        <i class="ph-bold ph-arrow-right"></i>
      <% end %>

      <%# </button> %>
      <%# <%= link_to "J'ai compris, commencer", data: {action: "click->map#getLocation"} %>
      <%# <%= link_to "J'ai compris, commencer", intervention_path(id: @intervention.id, case_id: @case.id)%>
    </div>
  </div>
</div>
