<nav class="navbar navbar-expand-sm navbar-light navbar-lewagon nav-color">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand d-flex align-items-center gap-3" do %>
      <%= image_tag "logo.png" %>
      <h3>Bonjour !</h3>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="ph-bold ph-list"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Mon compte", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Mes interventions", "#", class: "nav-link" %>
          </li>
           <li class="nav-item">
            <%= link_to "Effectuer une simulation", "#", class: "nav-link" %>
          </li>
           <li class="nav-item">
            <%= link_to "Trouver un défibrilateur", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Se déconnecter", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link" %>
          </li>

          <!--
          <li class="nav-item dropdown">
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
          -->

        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
