<h1>chat</h1>

  <%#= link_to "envoyer un message (doit devenir un envoi vocal)", chat_messages_path(params[:id]), data: {turbo_method: :post} %>

<div id="messages">
  <% @chat.messages.each do |message| %>
    <% if message.role == "user" %>
      <div class="d-flex justify-content-end mb-2">
        <div class="bg-white px-3 pb-0 pt-3 rounded-pill">
          <%= message.content %>
        </div>
      </div>
    <% elsif message.role == "assistant" %>
      <div class="d-flex justify-content-start mb-5">
        <div class="px-3 pb-0 pt-3">
          <%= message.content %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>


<%# turbo frame? %>
  <div class= "form-chat col-9 p-2 p-md-4">
    <%= simple_form_for [@chat, @message], html: {class: 'd-flex gap-3' } do |f| %>
      <%= f.input :content, required: true, label: false, placeholder: "Le chat n'ecoute pas encore....", input_html: {class: 'flex-grow-1' }, class: "bg-white" %>
      <%= f.button :submit, 'Envoyer', class: 'btn btn-primary' %>
    <% end %>
  </div>
<p>lien temporaire pour faire le tour de l'appli</p>
<% @cases.each do |cas| %>
  <%= link_to cas.name, case_path(cas.id) %>
  <% end %>


