<div class="show-chat" data-controller="modal-urgence">
  <div class="chat-container">

    <%= link_to '<i class="ph-bold ph-arrow-left"></i>'.html_safe, root_path, class: "btn btn-secondary" %>
    <div class="the-chat">

      <div id="messages">
        <div class="d-flex justify-content-end">
          <% @chat.messages.each do |message| %>
            <% if message.role == "user" %>
            <div class="pb-0 rounded-pill">
              <%= message.content %>
            </div>
        </div>
          <% elsif message.role == "assistant" %>
        <div class="assistant">
          <div class="logo">
            <%= image_tag "logo.png" %>
          </div>
          <div class="px-3 pb-0 rounded-pill">
            <%= message.content %>
          </div>
            <% end %>
          </div>
          <% end %>
      </div>

      <div class= "btn-yes-or-no">

        <%= simple_form_for [@chat, @message], html: { class: 'd-flex ' } do |f| %>
          <%= f.hidden_field :content, value: "oui" %>
          <%= f.button :submit, "OUI", class: "btn btn-primary flex-grow-1" %>
        <% end %>


        <%= simple_form_for [@chat, @message], html: { class: 'd-flex' } do |f| %>
          <%= f.hidden_field :content, value: "non" %>
          <%= f.button :submit, "NON", class: "btn btn-secondary flex-grow-1" %>
        <% end %>

      </div>
    </div>

  </div>























<%# SI l'on retire l'IA, après le message "C'est un arrêt cardiaque", faire apparaître la le bouton (2sec après ??) %>
  <div class="buttons">
    <button id="myBtn-urgence" data-modal-urgence-target="btn" data-action="click->modal-urgence#openModal">Suivant</button>
    <div id="myModal-urgence" data-modal-urgence-target="modal" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <h2>Diagnostic</h2>
          <span class="close" data-modal-urgence-target="close" data-action="click->modal-urgence#closeModal">&times;</span>
        </div>
        <div class="modal-body">
          <%= render partial: "modal_urgence", local: {chat: @chat, message: @message} %>
        </div>
      </div>
    </div>
  </div>

  <p>Lien temporaire pour faire le tour de l'appli :</p>
  <% @cases.each do |cas| %>
    <%= link_to cas.name, case_path(cas.id, intervention_id: @intervention.id)%>
  <% end %>

</div>
