<div class="show-chat" data-controller="modal">

  <div class="the-chat">
    <div id="messages">
      <% @chat.messages.each do |message| %>
        <% if message.role == "user" %>
          <div class="d-flex justify-content-end mb-2">
            <div class="bg-white px-3 pb-0 pt-3 rounded-pill">
              <%= message.content %>
            </div>
          </div>
        <% elsif message.role == "assistant" %>
          <div class="d-flex justify-content-start mb-5">
            <div class="px-3 pb-0 pt-3">
              <%= message.content %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class= "btn-yes-or-no">

      <%= simple_form_for [@chat, @message], html: { class: 'd-flex gap-3' } do |f| %>
        <%= f.hidden_field :content, value: "oui" %>
        <%= f.button :submit, "OUI", class: "btn btn-primary flex-grow-1" %>
      <% end %>


      <%= simple_form_for [@chat, @message], html: { class: 'd-flex gap-3' } do |f| %>
        <%= f.hidden_field :content, value: "non" %>
        <%= f.button :submit, "NON", class: "btn btn-secondary flex-grow-1" %>
      <% end %>

    </div>
  </div>
























<%# SI l'on retire l'IA, après le message "C'est un arrêt cardiaque", faire apparaître la modal_urgence 2sec après en stimulus %>
  <div class="buttons">
    <button id="myBtn-urgence" data-modal-target="btnUrgence" data-action="click->modal#openModal">Suivant</button>
    <div id="myModal-urgence" data-modal-target="modalUrgence" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <h2>Diagnostic</h2>
          <span class="close" data-modal-target="closeUrgence" data-action="click->modal#closeModal">&times;</span>
        </div>
        <div class="modal-body">
          <%#= render partial: "modal_urgence", local: {chat: @chat, message: @message} %>
        </div>
      </div>
    </div>
  </div>

  <p>Lien temporaire pour faire le tour de l'appli :</p>
  <% @cases.each do |cas| %>
    <%= link_to cas.name, case_path(cas.id) %>
    <% end %>
</div>
