
<!-- DIV Container -->
<div class="home-container" data-controller="modal-home">
  <div class="top-home">
    <%= render "shared/navbar" %>
    <!-- DIV Section Help -->
    <div class="home-hero position-relative">
        <!-- Images de fond -->
        <%= image_tag "heart_2.png", class: "home-bg-img home-bg-left" %>
        <%= image_tag "ambu.png", class: "home-bg-img home-bg-right" %>
      <!-- CARD -->
      <div class="home-cta-card bg-blur p-2 text-center">
        <div class="d-flex align-items-center justify-content-center gap-2 mb-2 mt-4">
          <%= image_tag "emergency-2.png", alt: "Urgence", class: "home-icon" %>
          <h2>Besoin d'aide ?</h2>
        </div>
        <p class="p-secondary fs-m">Restez calme<br>et laissez-vous guider</p>
        <%= link_to chats_path(lat: params[:lat], long: params[:long], city: params[:city], address: params[:address]), class: "btn-help d-flex align-items-center justify-content-center gap-2 w-100", data: { turbo_method: :post } do %>
          <i class="ph-bold ph-first-aid"></i>
          <span>Aidez-moi</span>
        <% end %>
      </div>
    </div>
  </div>

  <!-- DIV Section Renseignements -->
  <div class="informations">
    <h4 class="mb-4">Renseignements</h4>

    <div class="scrolling-cards d-flex gap-3 pb-2">
      <!-- Card Défibrilateurs -->
      <%= link_to "#", class: "card scrolling-card shadow-sm flex-shrink-0" do %>
        <div class="card-head d-flex align-items-center gap-2 mb-2 fw-semibold">
          <i class="ph-bold ph-heartbeat"></i>
          <p>Défibrilateurs</p>
        </div>
        <img src="https://about-france.com/cities/citypix/plan-nantes.jpg" alt="Carte">
      <% end %>

      <!-- Card Simulations -->
      <%= link_to "#", class: "card scrolling-card shadow-sm flex-shrink-0" do %>
        <div class="d-flex align-items-center gap-2 mb-2 text-dark fw-semibold">
          <i class="ph-bold ph-ambulance"></i>
          <p>Simulations</p>
        </div>
          <img src="https://www.shutterstock.com/image-vector/illustration-first-medical-aid-indirect-260nw-2516317979.jpg" alt="Simulation">
      <% end %>
    </div>
  </div>
  <button id="myBtn-dae" data-modal-home-target="btnDae" data-action="click->modal-home#openModal">Défibrilateur le plus proche</button>
      <div id="myModal-dae" data-modal-home-target="modalDae" class="modal">
        <div class="modal-content">
          <div class="modal-header">
            <h2>Défibrilateur le plus proche</h2>
            <span class="close" data-modal-home-target="closeDae" data-action="click->modal-home#closeModal">&times;</span>
          </div>
          <div class="modal-body">
            <%= render partial: "interventions/modal_dae", daes: @daes%>
          </div>
        </div>
      </div>
</div>
