<div class="container-recap d-flex flex-column gap-2">

  <div class="modal-recap justify-content-between">
    <div class="row-label-modal-recap">
      <i class="ph-bold ph-clock"></i>
      <p class="p-text-recap">Heure estimée du début du massage </p>
    </div>
    <p class="fw-500">

      <%= if @intervention.start_time.present?
            @intervention.start_time.in_time_zone("Europe/Paris").strftime("%kh%M")
          else
            "-"
          end %>
    </p>
  </div>

  <div class="modal-recap justify-content-between">
  <div class="row-label-modal-recap">
    <i class="ph-bold ph-hourglass-low"></i>
    <p>Durée du massage</p>
  </div>
    <p id="rcp-duration" class="fw-500"
      data-controller="rcp-timer"
      data-rcp-timer-start-value="<%= @intervention.start_time.to_i %>"
      data-rcp-timer-end-value="<%= @intervention.end_time&.to_i %>">

      <% if @intervention.end_time.present? %>
        <% duration = @intervention.end_time - @intervention.start_time %>
        <% minutes = (duration / 60).to_i %>
        <% seconds = (duration % 60).to_i %>
        <%= "#{minutes}min #{seconds}s" %>
      <% else %>
        Calcul…
      <% end %>
    </p>
  </div>

  <div class="modal-recap flex-column">
    <p class="row-label-modal-recap"><i class="ph-bold ph-gps-fix"></i>Localisation</p>
    <% if params[:address] %>
      <p class="fw-500"><%= @intervention.address %></p>
    <% else %>
      <p class="fw-500">aucune adresse</p>
    <% end %>
  </div>

</div>
