<div class=" p-2 d-flex flex-column gap-3">
  <div class="card-head">
    <h4>Recapitulatif</h4>
      <%= link_to user_session_path, class: "btn btn-primary" do %>
      <div class="btn-save">
        <i class="ph-bold ph-check"></i>
        <p class="fs-s">Enregistrer</p>
      </div>
      <% end %>
  </div>

  <div class="card" id="info-recap">
    <div class="card-img-recap"><%= image_tag "medical-app.png" %></div>
    <p class="fw-500">Récapitulatif de votre intervention à transmettre aux secours ou au médecin si besoin :</p>
  </div>

<%# ----- Card principale ----- %>
  <div class="card-recap d-flex flex-column gap-2">
    <div class="text-recap justify-content-between">
      <div class="row-label">
        <i class="ph-bold ph-clock"></i>
        <p>Déclenchement de l'aide</p>
      </div>
      <p class="fw-500"><%= @chat.created_at.in_time_zone("Europe/Paris").strftime("%kh%M") %></p>
    </div>

    <div class="text-recap flex-column">
      <p class="row-label"><i class="ph-bold ph-chat-circle-dots"></i>Situation</p>
      <%# Integrer le rapport de l'IA %>
      <p class="fw-500"><%= @chat.messages.last.content %></p>
    </div>

    <div class="text-recap flex-column">
      <p class="row-label"><i class="ph-bold ph-map-pin-area"></i>Adresse</p>
      <p class="fw-500"><%= @intervention.address %></p>
    </div>

    <div class="text-recap justify-content-between">
      <div class="row-label-red">
        <i class="ph-bold ph-clock"></i>
        <p>Début de la RCP estimée</p>
      </div>
      <p class="fw-500">
        <%= if @intervention.start_time.present?
              @intervention.start_time.in_time_zone("Europe/Paris").strftime("%kh%M")
            else
              "-"
            end %>
      </p>
    </div>

    <div class="text-recap justify-content-between">
      <div class="row-label-red">
        <i class="ph-bold ph-hourglass-low"></i>
        <p>Durée de la RCP</p>
      </div>
      <p class="fw-500">
        <% if @intervention.start_time && @intervention.end_time %>
          <% duration = @intervention.end_time - @intervention.start_time %>
          <% hours = (duration / 3600).to_i %>
          <% minutes = ((duration % 3600) / 60).to_i %>
          <%= "#{hours}h#{minutes.to_s.rjust(2, '0')}" %>
          <% else %>
            <%= "-" %>
        <% end %>
      </p>
    </div>

    <div class="text-recap justify-content-between">
      <div class="row-label">
        <i class="ph-bold ph-clock-countdown"></i>
        <p>Heure de fin</p>
      </div>

      <p class="fw-500">
        <%= if @intervention.end_time.present?
              @intervention.end_time.in_time_zone("Europe/Paris").strftime("%kh%M")
            else
              "-"
            end %>
      </p>
    </div>
  </div>

  <%# ----- Faire le lien du bouton partager ----- %>
  <div class="btn-footer">
    <%= link_to user_session_path, class: "share btn btn-outline-primary" do %>
      <div class="btn-share">
        <p class="fs-s">Partager</p>
        <i class="ph-bold ph-share"></i>
      </div>
      <% end %>
  </div>

  <div class="btn-footer">
    <a class="link-recap fw-500" href="<%= home_path(lat: params[:lat], long: params[:long], city: params[:city], address: params[:address]) %>">Quitter sans enregistrer</a>
  </div>

<div>
