<div class=" p-2 d-flex flex-column gap-3">
  <div class="card-head">
    <h4>Recapitulatif</h4>
      <%= link_to user_session_path, class: "btn btn-primary" do %>
      <div class="btn-save">
        <i class="ph-bold ph-check"></i>
        <p class="fs-s">Enregistrer</p>
      </div>
      <% end %>
  </div>

  <div class="card" id="info-recap">
    <div class="card-img-recap"><%= cl_image_tag "medical-app_ttv2fh" %></div>
    <p class="fw-500">Voici un récapitulatif de votre intervention à transmettre aux secours ou au médecin si besoin :</p>
  </div>

<%# ----- Card principale ----- %>
  <div class="card-recap d-flex flex-column gap-2">
    <div class="text-recap justify-content-between">
      <div class="row-label">
        <i class="ph-bold ph-clock"></i>
        <p>Déclenchement de l'aide</p>
      </div>
      <p class="fw-500"><%= @chat.created_at.in_time_zone("Europe/Paris").strftime("%kh%M") %></p>
      <% help_start_time = @chat.created_at %>
    </div>

    <div class="text-recap flex-column">
      <% if @intervention.start_time && @intervention.end_time %>
        <% duration = @intervention.end_time - @intervention.start_time %>
        <% minutes = (duration / 60).to_i %>
        <% seconds = (duration % 60).to_i %>
        <% rcp_duration = "#{minutes}min #{seconds}s" %>
      <% else %>
        <%= "-" %>
      <% end %>
      <% if @intervention.start_time.present? %>
        <% rcp_start = @intervention.start_time.in_time_zone("Europe/Paris").strftime("%kh%M") %>
        <% rcp_start_time = @intervention.start_time %>

      <% else %>
        <% "-" %>
      <% end %>

      <p class="row-label"><i class="ph-bold ph-chat-circle-dots"></i>Situation</p>
      <%# Integrer le rapport de l'IA %>
      <ul class="ps-3 m-0">
        <li>La personne a été victime d'un <strong><%= @case.name.downcase %></strong></li>
        <li>Durée du no-flow:
          <% duration_no_flow = rcp_start_time - help_start_time %>
          <% minutes = (duration_no_flow / 60).to_i %>
          <% seconds = (duration_no_flow % 60).to_i %>
          <strong><%= "#{minutes}min #{seconds}s" %></strong>
        </li>
        <li>Durée du low-flow: <strong><%= rcp_duration %></strong></li>
      </ul>

    </div>

    <div class="text-recap flex-column">
      <p class="row-label"><i class="ph-bold ph-map-pin-area"></i>Adresse</p>
      <% if params[:address] %>
        <p class="fw-500"><%= @intervention.address %></p>
      <% else %>
        <p class="fw-500">aucune adresse</p>
      <% end %>
    </div>

    <div class="text-recap justify-content-between">
      <div class="row-label-red">
        <i class="ph-bold ph-clock"></i>
        <p class="p-text-recap">Heure estimée du début du massage</p>
      </div>
      <p class="fw-500">
        <%= rcp_start %>
      </p>
    </div>

    <div class="text-recap justify-content-between">
      <div class="row-label-red">
        <i class="ph-bold ph-hourglass-low"></i>
        <p>Durée du massage</p>
      </div>
      <p class="fw-500"><%= rcp_duration %></p>
    </div>

    <div class="text-recap justify-content-between">
      <div class="row-label">
        <i class="ph-bold ph-clock-countdown"></i>
        <p>Heure de fin</p>
      </div>

      <p class="fw-500">
        <%= if @intervention.end_time.present?
              @intervention.end_time.in_time_zone("Europe/Paris").strftime("%kh%M")
            else
              "-"
            end %>
      </p>
    </div>
  </div>

  <%# ----- Faire le lien du bouton partager ----- %>
  <div class="btn-footer">

    <!-- OLD SHARE BTN
    <%= link_to user_session_path, class: "share btn btn-outline-primary" do %>
      <div class="btn-share">
        <p class="fs-s">Partager</p>
        <i class="ph-bold ph-share"></i>
      </div>
    <% end %>  -->

    <div data-controller="share-recap"
     data-share-recap-url-value="<%= recap_pdf_intervention_path(@intervention, format: :pdf) %>"
     data-share-recap-title-value="Intervention : <%= @intervention.title %>"
     data-share-recap-text-value="Intervention du <%= @intervention.start_time&.in_time_zone('Europe/Paris')&.strftime('%d/%m/%Y à %Hh%M') %> - <%= @intervention.address %>">

      <button data-action="click->share-recap#share" class="btn btn-outline-primary btn-share">
        <i class="ph-bold ph-share"></i>
        <p class="fs-s">Partager</p>
      </button>
    </div>

  </div>

  <div class="btn-footer">
    <%= link_to "Quitter sans enregistrer", home_path(lat: params[:lat], long: params[:long], city: params[:city], address: params[:address]), class: "link-recap fw-500" %>
  </div>

<div>
