<%= render "intervention-nav", intervention: @intervention %>

<div class="intervention-container p-2 d-flex flex-column gap-3" data-controller="modal">

  <%# GIF Tuto  %>
  <div class ="gif-container rounded">
      <%= image_tag(@case.gif_url) %>
      <%= link_to case_path(@case.id, intervention_id: @intervention.id, lat: params[:lat], long: params[:long], city: params[:city], address: params[:address]), class:"btn btn-blur btn-tuto-replay bg-blur" do %>
        <i class="ph-bold ph-arrow-counter-clockwise"></i>
        Revoir le tuto
      <% end %>
  </div>

  <%# ALERT Relais %>
  <div class="alert alert-primary d-flex align-items-start gap-2" role="alert">
    <i class="ph-bold ph-info"></i>
    Si possible, faites un relais avec une autre personne afin de rester efficace
  </div>

  <%# GIF PULSE %>
  <div class="gif-pulse">
    <%= image_tag "gif-pulse.gif" %>
  </div>

  <%# Cards à rendre fonctionnel : %>
  <div class="actions-cards d-flex gap-2">
    <%= render "shared/cards/card-dae" %>
    <%= render "shared/cards/card-recap" %>
  </div>


  <%# CODE JULIEN BOUTONS MODAL FONCTIONNELS %>
  <div class="buttons">

    <button id="myBtn-recap" data-modal-target="btnRecap" data-action="click->modal#openModal">Infos récapitulatif</button>
    <div id="myModal-recap" data-modal-target="modalRecap" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Récapitulatif temps réel</h4>
          <span class="close" data-modal-target="closeRecap" data-action="click->modal#closeModal">
            <i class="ph-bold ph-x"></i>
          </span>
        </div>
        <div class="modal-body">
          <%= render "modal_recap", intervention: @intervention %>
        </div>
      </div>
    </div>

    <button id="myBtn-dae" data-modal-target="btnDae" data-action="click->modal#openModal">Défibrilateur le plus proche</button>
      <div id="myModal-dae" data-modal-target="modalDae" class="modal">
        <div class="modal-content">
          <div class="modal-header">
            <h4>Défibrilateur le plus proche</h4>
            <span class="close" data-modal-target="closeDae" data-action="click->modal#closeModal">
              <i class="ph-bold ph-x"></i>
            </span>
          </div>
          <div class="modal-body">
            <%= render partial: "modal_dae", daes: @daes, intervention: @intervention %>
          </div>
        </div>
      </div>
  </div>

</div>
