<%= render "intervention-nav" %>
<div class="intervention-container p-2" data-controller="modal">

  <div class ="gif-container rounded">
      <%= image_tag(@case.gif_url) %>
      <%= link_to case_path(@intervention), class:"btn btn-blur btn-tuto-replay bg-blur" do %>
        <i class="ph-bold ph-arrow-counter-clockwise"></i>
        Revoir le tuto
      <% end %>
  </div>




  <div class="relais">
    <p>Faites un relais afin de rester efficace</p>
  </div>


  <div class="rcp">
    <p>Suivez ce rythme pour votre RCP</p>
    <%= image_tag "logo.png" %>
  </div>

  <div class="buttons">
    <button id="myBtn-recap" data-modal-target="btnRecap" data-action="click->modal#openModal">Infos récapitulatif</button>
    <div id="myModal-recap" data-modal-target="modalRecap" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <h2>Infos récapitulatif</h2>
          <span class="close" data-modal-target="closeRecap" data-action="click->modal#closeModal">&times;</span>
        </div>
        <div class="modal-body">
          <%= render "modal_recap" %>
        </div>
      </div>
    </div>

  <button id="myBtn-dae" data-modal-target="btnDae" data-action="click->modal#openModal">Défibrilateur le plus proche</button>
      <div id="myModal-dae" data-modal-target="modalDae" class="modal">
        <div class="modal-content">
          <div class="modal-header">
            <h2>Défibrilateur le plus proche</h2>
            <span class="close" data-modal-target="closeDae" data-action="click->modal#closeModal">&times;</span>
          </div>
          <div class="modal-body">
            <%= render partial: "modal_dae", local: {daes: @daes} %>
          </div>
        </div>
      </div>
  </div>

</div>
