<div class="show-container">
  <div class="buttons">
    <%= link_to "Retourner au tutoriel", case_path(@intervention) %>
    <%= link_to "Arrêter", recap_intervention_path(@intervention) %>
  </div>

  <div class="relais">
    <p>Faites un relais afin de rester efficace</p>
  </div>

  <div class ="gif-container">
      <%= image_tag(@case.gif_url) %>
  </div>

  <div class="rcp">
    <p>Suivez ce rythme pour votre RCP</p>
    <%= image_tag "logo.png" %>
  </div>

  <div class="buttons">
    <%= link_to "Défibrilateur le plus proche" %> <%#, modal_dae_intervention_path(@intervention) (pas encore de routes)  %>
    <%= link_to "Infos récapitulatif" %> <%#, modal_recap_intervention_path(@intervention) (pas encore de routes)  %>
  </div>

  <div>
  latitude: <%= @daes.first[:lat] %>
  </div>

</div>
